<section class="etr-chat etr-roll {{result}}">
  <em>{{stat}}</em>
  <div class="dice-tooltip expanded">
    <section class="tooltip-part">
      <div class="dice">
        <ul class="dice-rolls">
          {{log dice}}
          {{#each dice as |die key|}}
            <li class="roll die d6 {{etrPlayerDie die.result}}">{{die.result}}</li>
          {{/each}}
        </ul>
      </div>
    </section>
  </div>
</section>